@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Montserrat;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.back {
  background-image: url('./assets/Job-Board-Images/job-2.jpg');
}

.here {
  background-image: url(./assets/Job-Board-Images/img2.jpg);
}

.cont {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: #343232; */
  background-color: #efeaea;
  padding: 50px;
  max-width: 50%;
  margin: 0 150px;
}

.blog {
  background-image: url(./assets/Job-Board-Images/jobline-blog-12.jpg);
  
}

.c {
  padding: 30px;
}



.b {
  background-color: #55A747;
}

.k {
  /* border: 2px solid red; */
  /* color: #e5efef; */
}

.h {
  border: 2px solid red;
}



.a {
  /* flex: 1; */
  /* border: 2px solid black; */
  width: 30%;
}

.f {
  z-index: 10;
}


.lifestyle {
  /* overflow: hidden; */
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  min-height: 400px;
}

.lifestyle-img {
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.lifestyle-content {
 display: flex;
 flex-direction: column;
 /* align-items: start; */
 justify-content: center;
 padding: 20px 100px;
 /* margin-top: 50px; */
 background-color: rgb(246,246,246);
 border: 6px solid red;
 
}

.lifestyle-heading {
  font-size: 3em;
  margin-bottom: 20px;
}

.lifestyle-main {
  font-size: 1.5em;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 20px;
}

a {
  color: #000;
  font-weight: bold;
  font-size: 1em;
  
}

.x {
  grid-template-columns: 1fr 1fr;
  min-height: 400px;
}

.p {
  border-radius: 50px;
}

.g {
  font-size: 20px;
}

.prev-btn,
.next-btn {
  color: #55A747;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  /* cursor: pointer; */
}
.prev-btn:hover,
.next-btn:hover {
  color: hsl(205, 78%, 60%);
}
.random-btn {
  margin-top: 0.5rem;
  background: hsl(210, 36%, 96%);
  color: #55A747;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius:  0.25rem;
  transition: all 0.3s linear;
  border-color: transparent;
  
}
.random-btn:hover {
  background: hsl(210, 22%, 49%);
  color: hsl(205, 86%, 17%);
}


